* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    border: 0.2rem solid black;
    background-color: rgb(186, 186, 186);
    display: grid;
    grid-template-columns: 6fr 20fr 2fr 1fr 2fr;
    grid-template-rows: 4vh;
    text-align: center;
    align-items: center;
    width: 98vw;
    height: 4vh;
    position: fixed;
    z-index: 3;
    top: 0px;
}

#linkovi {
    border: 0.2rem solid black;
    background-color: rgb(146, 146, 146);
    /*border-radius: 0.5rem;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
#linkovi a{
    padding: 0.6rem 3rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgba(45, 45, 45, 0.3);
    border-radius: 1rem 0rem 1rem 0;
    border-left: 0.15rem solid black;
    box-shadow: 2px 2px 20px black;
    
}
#linkovi a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(105, 105, 105, 0.7);
}
#logo {
    font-weight: 600;
    font-size: 1.2rem;color: rgb(0, 0, 0);
}
#ikonica {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
#krp {
    cursor: pointer;
}
footer {
    border-top: 0.3rem solid black;
    width: 100vw;
    height: 20vh;
    background-color: rgb(57, 57, 57);
    color: aliceblue;
    padding: 2rem;
}
#push{
    height: 3vh;
}

#products {
    margin: 1rem;
}

.modal_background {
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: +3;
}


.modal_content {
    background-color: rgba(242, 239, 239, 0.3 );
    padding: 1rem;
    border-radius: 0.5rem;
    width: 80%;
    height: fit-content;
    top: 10vh;
    position: relative;
    text-align: end;

}

.modal_content h3 {
    margin: 0;
    margin-bottom: 0.5rem;
}

.modal_content p {
    margin: 0;
    color: white;
}

.modal_content button {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 3rem;
    cursor: pointer;
}
.modal_content button:hover {
 color: rgb(215, 215, 215);
 background-color: rgba(106, 106, 106, 0.5);

}






