#products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2rem;

}
.product {
    background-color: rgba(220, 220, 220, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border: 0.15rem solid black;
}
#toShow {
    margin: 2rem 1rem;
    padding: 1rem;
    background-color: rgba(244, 244, 244, 0.8);
}

.details {
    color: black;
    font-family: 'Lucida Sans', sans-serif;
    font-style: italic;
    color: rgb(37, 81, 121);
}

.cart-item {
    border: 1px solid green;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.3fr;
    transition: grid-template-rows 1s;
    margin: 0.5rem;
    padding: 0.5rem;
}
.cart-item>div {
    text-align: center;
    font-size: 1vw;
}

#qch  {
    display: flex;
    flex-direction: column;
}
#cartImg {
    text-align: center;
    max-width: 40%;
}
#cart{
    border: 3px solid black;
    margin: 1rem 0;
    max-width: 40vw;
    position: fixed;
    right: 0.5vw;
    top: 4vh;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: +2;

}
[data-statusC="off"] {
    display: none;
    grid-template-columns: 1fr ;
    grid-template-rows: 0;
   
}

[data-statusC="on"] {
    display: grid;
    border: 1px solid black;
    grid-template-columns: 1fr ;
    grid-template-rows: auto;
}

.cart-item button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
.cart-item button:hover {
    color: darkgray;

}

#buy {
    background-color: rgb(110, 112, 106);
    padding: 0.2rem;
    margin: 0.5rem;
    font-size: medium;
    cursor: pointer;
    color: azure;
}
#buy:hover {
    background-color: rgb(86, 86, 86);
}

#ck, #listOfTipeCBX {
    display: flex;
    align-items: center; 
    padding: 0 1rem;
    gap: 0.5rem;

}


[type="checkbox"] {
    cursor: pointer;
}

.add-to-cart {
    background-color: rgb(168, 168, 168);
    color: black;
    cursor: pointer;
    font-style: oblique;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem;
    box-shadow: 3px 3px 4px rgb(133, 133, 133);
    border-top-right-radius: 1rem;

}
.add-to-cart:hover {
    background-color: rgb(193, 193, 193);
    color: aliceblue;
    cursor: pointer;
}

.add-to-cart:disabled {
color:rgb(142, 142, 142);;
}

.typeInfoDiv {
    font-weight: 600;
    width: 7vw;
    height: 2vh;
    text-align: center;
    background-color: rgba(195, 195, 195, 0.9);
    border-bottom-left-radius: 1rem;
    padding: 1rem;
    position: relative;
    top: -4.5vh;
    left: 11.8vw;
    z-index: +1;
    overflow: hidden;
    box-shadow: 3px 3px 3px 2px rgb(105, 105, 105);
}
.remove {
    background-color: rgba(199, 32, 32, 0.7);
    height: 100%;
    color: rgb(255, 255, 255);
}
.remove>button:hover{
    color: rgb(71, 71, 71);
}


.splide {
width: 27vw;
}
.splide__slide img {
    width: 100%;
    height: auto;
}


.thumbnails {
    display: flex;
    margin: 1rem auto 0;
    padding: 0;
    justify-content: center;
  }
  
  .thumbnail {
    width: 70px;
    height: 70px;
    overflow: hidden;
    list-style: none;
    margin: 0 0.2rem;
    cursor: pointer;
    opacity: 0.5;
  }

  .thumbnail.is-active {
    opacity: 1;
  }
  
  .thumbnail img {
    width: 100%;
    height: auto;
  }


  #info {
    display: grid;
    grid-template-columns: 2fr 3fr;
    max-height: 60vh;
  }

  #spl {
    padding: 2rem;

  }
  #informations {
    padding: 1rem;
    text-align: start;
    line-height: 1.5rem;
  }
  #totalP {
    text-align: center;
    padding: 0 4rem;
    margin: 0 0.5rem;
    border: 1px solid black;
    color: rgb(91, 16, 16);
  }